.b-kinds {
  display: inline-block;
  background-color: #fff;
  text-align: center;
  padding: 49px 40px 47px 40px;
  position: relative;
  max-width: 204px;
  width: 100%;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 48%;
    background-color: #d7d7d7;
  }
  img {
    max-width: 100%;
    object-fit: contain;
    margin: 0 auto 25px auto;
  }
  &__text {
    color: #000000;
    font-family: 'Circe-Bold';
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
  }
}