.s-strong-result {
  margin-bottom: 62px;
}
.strong-results {
  &__wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  &__left{
    .strong-results__item {
      position: relative;
      left: -150px;
      opacity: 0px;
      &:nth-child(2) {
        margin-right: 69px;
      }
    }
    .strong-results__text {
      margin-left: auto;
    }
  }
  &__img {
    margin: 0 30px;
    display: flex;
    align-items: center;
    img {
      max-width: 735px;
      width: 100%;
      transform: scale(1.15);
      filter: drop-shadow(-39px -5px 16px rgba(0,0,0,0.2));
    }
  }
  &__right {
    .strong-results__item {
      text-align: left;
      &:nth-child(2) {
        margin-left: 69px;
      }
    }
    .strong-results__title {
      flex-direction: row-reverse;
      justify-content: flex-end;
      span {
        margin-right: 0;
        margin-left: 21px;
      }
    }
  }
  &__item {
    text-align: right;
    color: #000000;
    max-width: 389px;
    margin-bottom: 51px;
    position: relative;
    right: -150px;
    opacity: 0px;
  }
  &__title {
    position: relative;
    z-index: 2;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
      img {
        max-width: 50px;
      }
    span {
      font-family: 'Circe';
      font-size: 23px;
      font-weight: 700;
      line-height: 23px;
      margin-right: 21px;
      margin-top: 10px;
    }
    svg {
      fill: #FF4859;
      max-width: 55px;
      max-height: 55px;
      path {
        fill: #FF4859;
      }
    }
  }
  &__text {
    max-width: 315px;
    font-family: 'Circe-Regular';
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;
  }
  @include md_1190 {
    &__img {
      margin: 0 15px;
    }
    &__item {
      margin-bottom: 25px;
    }
    &__left .strong-results__item:nth-child(2) {
      margin-right: 30px;
    }
    &__right .strong-results__item:nth-child(2) {
      margin-left: 30px;
    }
  }
  @include md_960 {
    &__left .strong-results__item:nth-child(2) {
      margin-right: 0;
    }
    &__right .strong-results__item:nth-child(2) {
      margin-left: 0;
    }
  }
  @include sm_769 {
    &__img {
      display: none;
    }
    &__item {
      margin: 15px;
    }
    &__left {
      padding-right: 10px;
    }
    &__right {
      padding-left: 10px;
    }
  }
  @include xs_540 {
    &__wrap {
      flex-direction: column;
    }
    &__item {
      margin: 10px auto 20px auto;
    }
    &__title {
      text-align: left;
      flex-direction: row-reverse;
      justify-content: flex-end;
      span {
        margin-right: 0;
        margin-left: 21px;
        font-size: 21px;
      }
    }
    &__left {
      max-width: initial;
      padding-right: 0;
      .strong-results__item:nth-child(2) {
        margin: 10px auto 20px auto;
      }
    }
    &__right {
      padding-left: 0;
      .strong-results__item:nth-child(2) {
        margin: 10px auto 20px auto;
      }
    }
    .strong-results__left .strong-results__text {
      margin-left: 0;
      text-align: left;
    }
  }
}