.main-title {
  display: inline-block;
  color: #ffffff;
  font-family: 'BebasNeue_Bold';
  font-size: 74px;
  font-weight: 400;
  line-height: 71.12px;
  position: relative;
  z-index: 1;
  margin-bottom: 35px;
  &__line {
    content: '';
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 2px;
    height: 12px;
    background-color: #e03e4e;
    width: 0px;
  }
  @include md_960 {
    font-size: 60px;
    line-height: 60.12px;
  }
  @include sm_690 {
    font-size: 40px;
    line-height: 40px;
  }
  @include xs_540 {
    font-size: 30px;
    line-height: 35px;
  }
}
.simple-title {
  max-width: 816px;
  display: inline-block;
  font-family: 'Mfred_regular';
  margin-bottom: 66px;
  color: #000000;
  font-size: 52px;
  font-weight: 400;
  line-height: 50.54px;
  position: relative;
  z-index: 1;
  span {
    position: relative;
  }

  &--good-mark {
    margin-bottom: 21px;
  }
  
  &--sale {
    color: #fff;
    margin-bottom: 55px;
    .title-width {
      background: #111;
    }   
  }

  &--height {
    .title-height {
      left: 2px;
      top: 2px;
    }
  }

  &--about {
    .title-height {
      top: auto !important;
      bottom: 12px !important;
      left: 2px;
    }
  }
  &--what {
    color: #fff;
  }
  &--solved {
    margin-left: 3px;
    .title-height {
      top: 0px !important;
      height: 0px;
      bottom: auto !important;
    }
  }
  &--videos {
    left: -2px;
    .title-height {
      top: 0px;
    }
  }

  &--price {
    left: -1px;
    .title-height {
      left: 1px;
    }
  }

  &--usefull {
    left: -2px;
  }

  &--specifics {
    .title-height {
      top: 4px;
      left: 2px;
    }
  }

  &--centered {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  &--black-line {
    max-width: initial;
    color: #fff;
    margin-bottom: 20px;
    span {
      &:after {
        background-color: #000000;
        right: 0;
      }
    }
  }
  &--long {
    max-width: 720px;
    span {
      &:after {
        right: 0;
      }
    }
  }
  &--line-left {
    max-width: 1005px;
    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: 2px;
      background-color: #e03e4e;
      width: 12px;
      height: 282px;
      right: 0;
      left: 0;
      top: 125%;
    }
  }
  @include md_1190 {
    font-size: 44px;
  }
  @include sm_690 {
    font-size: 36px;
    line-height: 36.54px;
    margin-bottom: 40px;
  }
  @include xs_540{
    font-size: 25px;
    line-height: 32.54px;
    span:after {
      height: 8px;
    }
  }
}
.slide-heading {
  color: #000000;
  font-family: 'Circe-Bold';
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 14px;
}

.title-get {
  color: #ffffff;
  font-family: 'BebasNeue_Bold';
  font-size: 52px;
  font-weight: 400;
  line-height: 50.54px;
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    z-index: -1;
    width: 12px;
    height: 200px;
    background-color: #e1505d;
  }
}



.title-height {
  position: absolute;
  z-index: -1;
  background-color: $primary;
  width: 12px;
  height: 0px;
  right: 0;
  left: 0;
  top: 0px;
}

.title-width {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 6px;
  height: 12px;
  background-color: #ff3b4d;
  width: 0px;
}